.typing-game-container {
    
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://img.freepik.com/free-photo/wireless-keyboard-mouse-colorful-stick-paper_140725-8944.jpg?w=1060&t=st=1685010506~exp=1685011106~hmac=98b5b23b881b543a39340164db5d50046385e716082f3bf659b7a8a052a91f4e');
    background-size: cover;
    height: 100vh;
    opacity: initial;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .heading {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(59, 41, 4);
    font-size: xx-large;
    padding-top: 100px;
  }

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sentence {
    color: rgb(13, 12, 12);
    font-weight: bolder;
    font-size: x-large;
    background-color: #7ba030;
    padding: 30px;
    border-radius: 20px;
    font-style: oblique;
  }

  .nextchar {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(59, 41, 4);
    font-size: xx-large;
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .individualfeatures {
    padding: 10px;
    font-size: larger;
  }
  
  .typing-game-container p {
    margin-bottom: 10px;
  }
  
  .typing-game-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    height: 50%;
  }
  
  .typing-game-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 8px;
  }
  
  .typing-game-container button:hover {
    background-color: #420636;
  }
  
  .results-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .results-container p {
    font-size: 18px;
  }
  
  @media screen and (max-width: 768px) {
    .typing-game-container {
      margin: 0 auto;
      padding: 20px;
      background-image: url('https://img.freepik.com/free-photo/wireless-keyboard-mouse-colorful-stick-paper_140725-8944.jpg?w=1060&t=st=1685010506~exp=1685011106~hmac=98b5b23b881b543a39340164db5d50046385e716082f3bf659b7a8a052a91f4e');
      background-size: cover;
      height: fit-content;
      opacity: initial;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

     
  .typing-game-container button:hover {
    background-color: #420636;
  }
  
  .typing-game-container textarea {
    width: 80%;
    padding-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    height: 50%;
  }

  }